header
  section(class='header')
    div(class='container') 

      div(class='header-up')

        button(type='button' class='btn header-up__icon')
          img(src="src/images/svg/burger.svg", alt="icon:menu" class='header-up__icon--burger')

        button(type='button' class='btn header-up__icon')
          img(src="src/images/svg/search.svg", alt="icon:search" class='header-up__icon--search')

        ul(class='header-up__list')
          li(class='header-up__list--item')
            a(href='/' class='header-up__list--link') О проекте
          li(class='header-up__list--item')
            a(href='/' class='header-up__list--link') Новости
          li(class='header-up__list--item')
            a(href='/' class='header-up__list--link') О проблеме
          li(class='header-up__list--item')
            a(href='/' class='header-up__list--link') Госполитика
          li(class='header-up__list--item')
            a(href='/' class='header-up__list--link') Партнеры
        
        button(type='button' class='btn header-up__btn') Будь в курсе


      div(class='header-line')

      div(class='header-down')